# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
from ipywidgets.embed import embed_minimal_html

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
# Display sample data
vacation_df.head(10)

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,15,Balurghat,IN,76.59,broken clouds,25.2167,88.7667,"Circuit House, Balurghat"
1,16,Faanui,PF,78.31,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
2,18,Labuhan,ID,81.75,overcast clouds,-6.8844,112.2051,DoubleFAG
3,21,Najran,SA,75.85,overcast clouds,17.4924,44.1277,محمد هادي ال فطيح
4,24,Ouargaye,BF,78.80,light rain,11.5033,0.0572,Résidence le Cotonnier
5,30,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,Paradise Inn
6,32,Hilo,US,83.25,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
7,33,Hithadhoo,MV,82.27,scattered clouds,-0.6000,73.0833,Scoop Guest House
8,35,Veraval,IN,79.74,broken clouds,20.9000,70.3667,Lords Inn Somnath
9,43,Kapaa,US,84.18,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [4]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig
embed_minimal_html('marker.html', views=[fig])

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [7]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
# 1 Ewa Beach, US
# 2 San Ramon, US
# 3 Grants Pass, US
# 4 Key West, US
vacation_start = vacation_df.loc[vacation_df["City"] == "Ewa Beach"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Ewa Beach"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "San Ramon"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Grants Pass"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Key West"]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [8]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start[['Lat','Lng']].to_numpy()[0][0], vacation_start[['Lat','Lng']].to_numpy()[0][1])
end = (vacation_start[['Lat','Lng']].to_numpy()[0][0], vacation_start[['Lat','Lng']].to_numpy()[0][1])
stop1 = (vacation_stop1[['Lat','Lng']].to_numpy()[0][0], vacation_stop1[['Lat','Lng']].to_numpy()[0][1])
stop2 = (vacation_stop2[['Lat','Lng']].to_numpy()[0][0], vacation_stop2[['Lat','Lng']].to_numpy()[0][1])
stop3 = (vacation_stop3[['Lat','Lng']].to_numpy()[0][0], vacation_stop3[['Lat','Lng']].to_numpy()[0][1])

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [10]:
# Define a new figure object
fig = gmaps.figure()


# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],travel_mode='DRIVING')
#vacation_itinerary = gmaps.directions_layer(geneva, zurich)
#waypoints=[stop1, stop2, stop3],

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig
embed_minimal_html('directions.html', views=[fig])

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [11]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

del itinerary_df['Unnamed: 0']

# Display sample data
itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ewa Beach,US,84.15,broken clouds,21.3156,-158.0072,Base Lodging
1,San Ramon,US,80.94,clear sky,37.7799,-121.9780,San Ramon Marriott
2,Grants Pass,US,89.11,clear sky,42.4390,-123.3284,Shilo Inns Grants Pass
3,Key West,US,84.00,clear sky,24.5557,-81.7826,Fairfield Inn & Suites by Marriott Key West

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [12]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [13]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)
#fig.add_layer(vacation_itinerary)

# Display the map
fig
embed_minimal_html('cities_on_travel_route.html', views=[fig])